{%- extends "base.html" -%}

{%- from 'govuk_frontend_jinja/components/back-link/macro.html' import govukBackLink -%}
{%- from 'govuk_frontend_jinja/components/button/macro.html' import govukButton -%}

{%- block beforeContent -%}
{{ super() }}
{{ govukBackLink({
  'text': "Back",
  'href': url_for('entry.register.view', register_id=entry.register_id)
}) }}
{%- endblock -%}

{%- block content -%}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {{ super() }}
    <span class="govuk-caption-l">Entry</span>
    <h1 class="govuk-heading-l">{{ entry.name }}</h1>
  </div>
</div>
<div class="govuk-button-group">
      {{ govukButton({
        'text': "Edit Entry",
        'href': url_for('register.entry.edit', register_id=entry.register_id, entry_id=entry.id)
      }) }}
</div>

{%- endblock -%}